[submodule "robert"]
	path = robert
	url = git@github.com:abotkit/robert.git
	ignore = untracked
[submodule "dolores"]
	path = dolores
	url = git@github.com:abotkit/dolores.git
	ignore = untracked
[submodule "maeve"]
	path = maeve
	url = git@github.com:abotkit/maeve.git
	ignore = untracked
[submodule "charlotte"]
	path = charlotte
	url = git@github.com:abotkit/charlotte.git
	ignore = untracked
