[submodule "abotkit/robert"]
	path = abotkit/robert
	url = git@github.com:abotkit/robert.git
[submodule "abotkit/dolores"]
	path = abotkit/dolores
	url = git@github.com:abotkit/dolores.git
[submodule "abotkit/charlotte"]
	path = abotkit/charlotte
	url = git@github.com:abotkit/charlotte.git
[submodule "abotkit/maeve"]
	path = abotkit/maeve
	url = git@github.com:abotkit/maeve.git
