# Intent classification
torch
sentence-transformers==0.2.4.1

# Admin interface
Flask==1.1.1
Flask-Cors==3.0.8
flask-api==2.0

# Requirements for data collection
geotext

# IO channels
slackclient

# Data crawler
lxml==4.4.1
requests==2.2.0
cssselect==1.1.0